@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    font-family: 'Open Sans', sans-serif !important;
}
.p-divider.p-divider-horizontal:before {
    border-top-color: black !important;
}


.p-sidebar {
    background: linear-gradient(180.11deg, rgb(74 222 128) 90.4%, rgba(74, 222, 128, 0) 110.24%, rgba(74, 222, 128, 0) 110.24%) !important;
}

/* .p-datatable{
    border-radius: 10px !important;
} */

.p-datatable-header {
    border-top-right-radius: 10px !important;
border-top-left-radius: 10px !important;
}

/* .p-datatable-table {
    border-radius: 10px !important;
} */

/* .p-datatable-thead {
    border-radius: 10px !important;
} */

/* .p-datatable-tbody {
    border-radius: 10px !important;
} */

/* .p-datatable-tfoot {
    border-radius: 10px !important;
} */

/* .p-sortable-column {
    border-top-left-radius: 10px !important;
    
} */

/* .p-column-title {
    border-radius: 10px !important;
} */

.p-paginator.p-component{
    border-top-left-radius: 0px !important;
        border-top-right-radius: 0 !important;
}

/* .p-datatable-wrapper {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
} */

.p-datatable-wrapper.jadwal {
    border-radius: 10px !important;
  
}

.p-tree-toggler-icon {
    color: #000000 !important;
}

.p-treenode-icon {
    color: #000000 !important;
}

.p-menuitem-icon {
    color: #000000 !important;
}

.p-submenu-icon {
    color: #000000 !important;
}

.p-tree {
    background: linear-gradient(180.11deg, rgb(74 222 128) 90.09%, rgba(74, 222, 128, 0) 100.24%, rgba(74, 222, 128, 0) 100.24%) !important;
    color: #343a40 !important;
}

.custom-bg-color {
    background:  linear-gradient(105.81deg, rgba(74, 222, 128, 0.9) -18.16%, rgba(158, 255, 194, 0.9) 98.31%) !important;
    background-size: cover !important;
}

.highlight-page {
    
    color: white !important;

}

.sidebar-icon{
    font-size: 1.25rem !important;
}

.topbar {
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 1rem ;
    background-color: #f8f9fa ;
    border-bottom: 1px solid #dee2e6 ;
}

.page-title {
    font-size: 1.25rem ;
    font-weight: 500 ;
    color: #343a40 ;
}